




<div class="list-section">
	<div class="list-container">

		<div class="card mt-3 list-Area">
      <div class="card-header cardHead">List of Files</div>
      <ul
        class="list-group list-group-flush ul-list"
        *ngFor="let file of fileInfos | async"
      >
        <li class="list-group-item list-item">
          <h5>{{file.name}}</h5>
          <!-- <a href="{{ file.url }}">{{ file.name }}</a> -->
          <div class="links">
            <a href="{{ file.url }}"><button>download</button></a>
            <div class="links-btn">
              <button class="edit"(click)="edit(file.id)"> edit </button>
              <button class="delete"(click)="deletepost(file.id)">delete</button>
              
            </div>
          </div>
          <!-- <button >Edit</button> -->
    
          <!-- <p>{{file.id}}</p> -->
        </li>
      </ul>
    
      <!-- <button routerLink="../list">List</button> -->
    </div>
    
	</div>
</div>